a {
    text-decoration: none !important;
}

.header.active {
    position: fixed;
    top: -95px !important;
}

.contractForm .btn-secondary{
    background-color: rgb(105, 112, 116) !important;
}

.contractForm .btn {

}

.header {
    --color: var(--white);
    --btn-color: var(--champagne-pink);
  
    width: 100%;
    padding-block: 20px;
    border-block-end: 1px solid var(--champagne-pink_20);
    background: url('../images/wedding-1-small.jpg') no-repeat center center/cover; /* Đặt hình nền cho header */
    z-index: 4;
  }

  .header.active {

  }
